In [1]:
import numpy as np
import pandas as pd

In [15]:
rows = 4
columns = 5
df = pd.DataFrame(
    data = np.random.rand(rows, columns),
    index = [f'r{row}' for row in range(rows)],
    columns = [f'c{column}' for column in range(columns)]
)
df

          c0        c1        c2        c3        c4
r0  0.567781  0.083233  0.889924  0.040957  0.383372
r1  0.604955  0.535490  0.348959  0.415220  0.095753
r2  0.213242  0.574128  0.980232  0.569139  0.156471
r3  0.352612  0.161897  0.881748  0.724799  0.687114

In [16]:
df.rename(
    index = dict([(f'r{row}', f'row {row}') for row in range(rows)]),
    columns = dict([(f'c{column}', f'column {column}') for column in range(columns)]),
)

       column 0  column 1  column 2  column 3  column 4
row 0  0.567781  0.083233  0.889924  0.040957  0.383372
row 1  0.604955  0.535490  0.348959  0.415220  0.095753
row 2  0.213242  0.574128  0.980232  0.569139  0.156471
row 3  0.352612  0.161897  0.881748  0.724799  0.687114

In [17]:
df2 = pd.DataFrame(
    data = np.random.rand(rows-2, columns),
    index = [f'r{row}' for row in range(rows-2)],
    columns = [f'c{column}' for column in range(columns)]
)
df2

          c0        c1        c2        c3        c4
r0  0.956318  0.309521  0.588044  0.269782  0.713447
r1  0.493185  0.468809  0.993946  0.083853  0.945625

In [23]:
df2.reindex_like(df, limit=1, method='ffill')

          c0        c1        c2        c3        c4
r0  0.956318  0.309521  0.588044  0.269782  0.713447
r1  0.493185  0.468809  0.993946  0.083853  0.945625
r2  0.493185  0.468809  0.993946  0.083853  0.945625
r3       NaN       NaN       NaN       NaN       NaN

In [29]:
rows = 4
columns = 5
df = pd.DataFrame(
    data = np.random.rand(rows, columns),
    index = np.arange(rows)
)
df

          0         1         2         3         4
0  0.527449  0.983790  0.610100  0.723492  0.766723
1  0.079404  0.316335  0.254228  0.672950  0.841620
2  0.435953  0.078092  0.566581  0.705298  0.862048
3  0.325835  0.743701  0.449997  0.618837  0.606965

In [30]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [32]:
df.rename(str, axis='index').index

Index(['0', '1', '2', '3'], dtype='object')