In [1]:
import numpy as np
import pandas as pd

In [4]:
rows = 10
cols = 3
data = np.random.rand(rows, cols)
index = [f'row {row}' for row in np.arange(rows)]
columns = [f'col {col}' for col in np.arange(cols)]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          col 0     col 1     col 2
row 0  0.459924  0.297271  0.173977
row 1  0.563972  0.933782  0.437238
row 2  0.638716  0.169264  0.242208
row 3  0.005551  0.607730  0.814865
row 4  0.263303  0.775989  0.414839
row 5  0.329518  0.354127  0.686437
row 6  0.556243  0.025104  0.826007
row 7  0.970094  0.098048  0.730494
row 8  0.679647  0.144970  0.692163
row 9  0.881971  0.955136  0.234644

# Retrieve columns

In [24]:
df['col 0']

row 0    0.459924
row 1    0.563972
row 2    0.638716
row 3    0.005551
row 4    0.263303
row 5    0.329518
row 6    0.556243
row 7    0.970094
row 8    0.679647
row 9    0.881971
Name: col 0, dtype: float64

In [25]:
df[['col 0', 'col 2']]

          col 0     col 2
row 0  0.459924  0.173977
row 1  0.563972  0.437238
row 2  0.638716  0.242208
row 3  0.005551  0.814865
row 4  0.263303  0.414839
row 5  0.329518  0.686437
row 6  0.556243  0.826007
row 7  0.970094  0.730494
row 8  0.679647  0.692163
row 9  0.881971  0.234644

# Retrieve rows

In [28]:
# df[1] # Error
df[1:3]

          col 0     col 1     col 2
row 1  0.563972  0.933782  0.437238
row 2  0.638716  0.169264  0.242208

# Retrieve row and column - mix

In [29]:
df[1:3]['col 0']

row 1    0.563972
row 2    0.638716
Name: col 0, dtype: float64

In [30]:
df['col 0'][1:3]

row 1    0.563972
row 2    0.638716
Name: col 0, dtype: float64

# Retrieve rows and columns

In [11]:
df.loc['row 0':'row 3','col 1':'col2']

          col 1     col 2
row 0  0.297271  0.173977
row 1  0.933782  0.437238
row 2  0.169264  0.242208
row 3  0.607730  0.814865

In [14]:
df.iloc[0:4,1:3]

          col 1     col 2
row 0  0.297271  0.173977
row 1  0.933782  0.437238
row 2  0.169264  0.242208
row 3  0.607730  0.814865

# Retrieve rows and one column

In [12]:
df.loc['row 0':'row 3','col 1']

row 0    0.297271
row 1    0.933782
row 2    0.169264
row 3    0.607730
Name: col 1, dtype: float64

In [15]:
df.iloc[0:3,1]

row 0    0.297271
row 1    0.933782
row 2    0.169264
Name: col 1, dtype: float64

# Retrieve one row and columns

In [17]:
df.loc['row 1','col 1':'col 2']

col 1    0.933782
col 2    0.437238
Name: row 1, dtype: float64

In [18]:
df.iloc[1,1:3]

col 1    0.933782
col 2    0.437238
Name: row 1, dtype: float64

# 'df.ix' is deprecated.

In [21]:
df.ix['row 0', 'col 1']

C:\Anaconda3\envs\lucasguesserts\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0.2972711790273006