In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(["a","b","c","a"], dtype="category")

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [3]:
pd.Series(['a', 'b', 'd', 'x', 'x', 'a', 'd'], dtype="category")

0    a
1    b
2    d
3    x
4    x
5    a
6    d
dtype: category
Categories (4, object): [a, b, d, x]

In [11]:
catData = pd.Categorical(['a', '3', '1.1', '1.1', '3', '3', 'a'])
catData

[a, 3, 1.1, 1.1, 3, 3, a]
Categories (3, object): [1.1, 3, a]

In [26]:
catData = pd.Categorical(['a', '3', '1.1', '1.1', '3', '3', 'a'])
catData.categories = ['float', 'integer', 'character']
catData

[character, integer, float, float, integer, integer, character]
Categories (3, object): [float, integer, character]

In [27]:
catData = pd.Categorical(['a', '3', '1.1', '1.1', '3', '3', 'a'])
catData.add_categories(['opa'])

[a, 3, 1.1, 1.1, 3, 3, a]
Categories (4, object): [1.1, 3, a, opa]

In [28]:
catData = pd.Categorical(['a', '3', '1.1', '1.1', '3', '3', 'a'])
catData.remove_categories(['a'])

[NaN, 3, 1.1, 1.1, 3, 3, NaN]
Categories (2, object): [1.1, 3]

In [8]:
categoricalData = pd.Categorical(['man', 'woman', 'woman', 'man', 'man'], ordered=True)
categoricalData

[man, woman, woman, man, man]
Categories (2, object): [man < woman]

In [9]:
categoricalData.describe()

            counts  freqs
categories
man              3    0.6
woman            2    0.4