In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3), columns=['f0','f1','f2'])
df

         f0        f1        f2
0 -1.922353  0.002859  0.154257
1  0.082261  1.023946 -1.158926
2  2.246276 -0.254698 -0.130819
3 -2.022590 -0.145343  0.650152
4  0.067851 -1.480825 -1.255246

In [15]:
def func(x):
    print(type(x))
    return x + 10
df.pipe(func)

<class 'pandas.core.frame.DataFrame'>

          f0         f1         f2
0   8.077647  10.002859  10.154257
1  10.082261  11.023946   8.841074
2  12.246276   9.745302   9.869181
3   7.977410   9.854657  10.650152
4  10.067851   8.519175   8.744754

In [19]:
def func(x):
    print(type(x))
    return np.mean(x)
df.apply(func)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

f0   -0.309711
f1   -0.170812
f2   -0.348116
dtype: float64

In [21]:
def func(x):
    print(type(x))
    return np.mean(x)
df.apply(func, axis=1)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

0   -0.588412
1   -0.017573
2    0.620253
3   -0.505927
4   -0.889407
dtype: float64

In [23]:
def func(x):
    print(type(x))
    return x*100
df.applymap(func)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

           f0          f1          f2
0 -192.235262    0.285891   15.425728
1    8.226075  102.394589 -115.892603
2  224.627628  -25.469770  -13.081918
3 -202.258951  -14.534339   65.015238
4    6.785077 -148.082499 -125.524566