In [2]:
import numpy as np
import pandas as pd

In [3]:
size = 5
data = np.hstack([
    2**np.arange(size).reshape(size,1),
    3**np.arange(size).reshape(size,1)
])
df = pd.DataFrame(data=data)
df

    0   1
0   1   1
1   2   3
2   4   9
3   8  27
4  16  81

In [4]:
df.pct_change()

     0    1
0  NaN  NaN
1  1.0  2.0
2  1.0  2.0
3  1.0  2.0
4  1.0  2.0

In [5]:
df.pct_change(axis=1)

    0       1
0 NaN  0.0000
1 NaN  0.5000
2 NaN  1.2500
3 NaN  2.3750
4 NaN  4.0625

In [8]:
df.cov()

       0       1
0   37.2   201.2
1  201.2  1113.2

In [10]:
df.corr(method='kendall')

     0    1
0  1.0  1.0
1  1.0  1.0

In [15]:
df_1 = pd.DataFrame(data=np.random.rand(5,2))
print(df_1)
print()
print(df_1.rank())

          0         1
0  0.243667  0.396988
1  0.168154  0.070565
2  0.061610  0.146678
3  0.356864  0.490340
4  0.054329  0.700193

     0    1
0  4.0  3.0
1  3.0  1.0
2  2.0  2.0
3  5.0  4.0
4  1.0  5.0